python-dotenv
python-telegram-bot[job-queue]>=20.0
langgraph==0.2.45
langchain-openai==0.2.9
openai==1.54.3
google-auth-oauthlib==1.2.1
google-api-python-client==2.149.0
supabase
python-dateutil==2.9.0
cryptography==42.0.0
psycopg2-binary==2.9.10
langsmith
apscheduler==3.10.4
